*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: purple;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    width: 100vw;
    font-size: 16px;    
}

a:hover{
  text-decoration: underline purple;
}


body{
    overflow-x: hidden;
    overflow-y: hidden;
}

ul{
     display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

.nav{
    background-color: grey;
    padding: 5px;
    width: 100vw;
    border-radius: 10px;
}

body{
  background-image: url(images/WhatsApp\ Image\ 2026-03-17\ at\ 23.17.23.jpeg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
   background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}

.title{
    color:grey;
    font-size: 50px;
    display: flex;
    justify-content: center;
     font-family: "Raleway", sans-serif;
}

.paragraph{
    color: grey;
    line-height: 20px;
    margin: 2px 0px 10px 10px;
}
.paragraph::first-letter{
    font-size: 30px;
}

.first{
    width: 60vw;
    background-color: rgb(8, 8, 8);
    border-top-right-radius: 20px;
    border-left: 9px solid purple;
    border-bottom-right-radius: 20px ;
}

.last{
     background-color: rgb(8, 8, 8);
     border-top-right-radius: 20px;
    border-left: 9px solid purple;
    width: 20vw;
    margin-left: 10px;
    margin-right: 10px;
}

.ask{
    color:grey;
    font-family:"Raleway", sans-serif;
    margin-left: 15px;
}

#firsthr{
    width: 10vw;
    margin-bottom: 10px;
    margin-left: 17px;
}

#secondhr{
    width: 8vw;
     margin-bottom: 10px;
     margin-left: 10px;
}

ul{
    color: grey;
    list-style-type: square;
    font-family:"Raleway", sans-serif;
    margin: 10px;
    font-size: x-large;
}

#section1, #section2{
    display: flex;
    justify-content: center;
    margin:30px

}

.mission{
    display: flex;
    justify-content: space-between;
}