*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: purple;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    width: 100vw;
    
}

ul{
     display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

.nav{
    background-color: grey;
    padding: 20px;
    width: 100vw;
}

body{
  background-image: url(images/WhatsApp\ Image\ 2026-03-17\ at\ 23.17.23.jpeg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
   background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    overflow-x: hidden;
    overflow-y: hidden;
}

.let{
    color: grey;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
     font-size: 27px;
      font-family: "Raleway", sans-serif;
      margin-top: 40px;
}

.help{
    /* border: 1px solid white; */
    margin-top: 50px;
    width: 20vw;
    text-align: center;
}
h3, p, figcaption{
    color:grey;
     text-shadow: 6px 3px 5px purple;
}

.mail{
    /* border: 1px solid white; */
    margin-top: 30px;
    width: 27vw;
    text-align: center;
} 

.address{
     /* border: 1px solid white; */
    margin-top: 30px;
    width: 27vw;
    text-align: center;
}

main figure{
color:purple;
padding: 10px;
}

main{
    display: flex;
    justify-content: space-evenly;
}

.frame iframe{
    margin-top: 50px;
    border-color: purple;

}

.frame{
    display: flex;
    justify-content: center;
}