*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    background-image: url(/images/WhatsApp\ Image\ 2026-03-16\ at\ 17.16.57.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

a{
    color: purple;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    
}

ul{
     display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

.nav{
    background-color: grey;
    padding: 20px;
    width: 100vw;
    border-radius: 10px;
}


.select{
    line-height: 7vh;
    color: grey;
    font-size: 25px;
}

#choice{
    width: 21vw;
}

#pick{
    width: 26vw;
}

select{
    background-color: grey;
    height: 5vh;
    border-radius: 20px;
    width: 15vw ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

label{
    font-family: "Raleway", sans-serif;
    font-weight: 650;
}

input{
    background-color: grey;
    height: 5vh;
    border-radius: 20px;
    width: 10vw;
     font-weight: 700;
     font-family: "Raleway", sans-serif;
}

#options{
 display: grid;
 justify-content: center;
 margin: 20px;
 gap: 4px;
}

#form{
    display: grid;
    justify-content: center;
}

#submit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lola p{
    color: grey;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    padding-left: 50px;
    opacity: 0.5;

}

.lola p::first-letter{
    font-weight: 800;
    font-size: 60px;
    color:purple;
}

    /* HOVER EFFECTS */
a:hover{
  text-decoration: underline purple;
}

select:hover{
    color: purple;
    cursor:pointer;
}

input:hover{
     color: purple;
    cursor:pointer;
}

div a{
    display: flex;
  padding-left: 5px;
}

.copy{
    line-height: 50px;
}

.last{
    line-height: 50px;
}

.foots{
    display: flex;
    justify-content:space-around;
    color: purple;
    /* position:fixed; */
    /* bottom: 10px; */
    margin-top: 36px;
    background-color: grey;
    width: 100vw;
    border-radius: 20px;
    padding: 0px 2px 0px 2px;
    font-size: large;
    opacity: 0.7;
}

@media screen and (max-width: 400px) {
    input{
        display: grid;
        flex-direction: column;
        height: 10px;
        padding: 4px;
    }
    .copy{
    line-height: 30px;
    }

    .last{
    line-height: 30px;
}

    .foots{
       display: grid;
       flex-direction: column;
       font-size: small;
       position:absolute;
       bottom: 2px;
    }

    .lola p{
        padding:0;
        margin:10px;
        font-size: 30px;
    }

    .select{
        font-size: 20px;
        line-height: 10px;
        margin-top: 1px;
        line-height: 40px;
    }

    .options{
        padding:0;
        margin:0;
    }
   
}

@media screen and (min-width: 500) {
  .lola p{
        padding:0;
        margin:0;
        font-size: 50px;
    }

    input{
        display: grid;
        flex-direction: column;
        height: 20px;
        padding: 5px;
        margin: 10px;
    }

    .foots{
        margin-top: 40px;
    }

    #home{
        background-size: contain;
        height: 100%;
    }

}

@media screen and (min-width: 1000px) {
  .foots{
    position: absolute;
    bottom: 5px
  }

} 

@media screen and (max-width: 350px) {
    input{
        display: grid;
        flex-direction: column;
        height: 10px;
        padding: 4px;
    }
    .copy{
    line-height: 3px;
    }

    .last{
    line-height: 3px;
}

    .foots{
       display: grid;
       flex-direction: column;
       font-size: small;
       position:absolute;
       bottom: 2px;
    }

    .lola p{
        padding:0;
        margin:10px;
        font-size: 30px;
    }

    .select{
        font-size: 20px;
        line-height: 10px;
        margin-top: 1px;
        line-height: 4px;
    }

    .options{
        padding:0;
        margin:0;
    }
   
}