*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    background-image: url(/images/WhatsApp\ Image\ 2026-03-16\ at\ 17.16.57.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

a{
    color: purple;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    width: 100vw;
    
}

ul{
     display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}

.nav{
    background-color: grey;
    padding: 20px;
    width: 100vw;
    border-radius: 10px;
}

main h1{
    color: grey;
     font-family: "Raleway", sans-serif;
     font-size: 65px;
     display: flex;

}

.select{
    line-height: 7vh;
    color: grey;
    font-size: 25px;
}

select{
    background-color: grey;
    height: 5vh;
    border-radius: 20px;
    width: 20vw ;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

label{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

input{
    background-color: grey;
    height: 5vh;
    border-radius: 20px;
    width: 20vw;
     font-weight: 700;
     font-family: "Raleway", sans-serif;
}

.form{
    display: flex;
    position: absolute;
    bottom: 30vh;
    justify-content: center;
    left: 50vw;
    

}
.parent-div2{
    position: absolute;
    bottom: 0px;
    left: 24vw;
}

    /* HOVER EFFECTS */
a:hover{
  text-decoration: underline purple;
}

select:hover{
    color: purple;
    cursor:pointer;
}

input:hover{
     color: purple;
    cursor:pointer;
}

div a{
    width:1vw;
    display: flex;
  padding-left: 70px;
  text-decoration: none;
}

.last p{
   line-height: 60px;
}

.foots{
    display: flex;
    justify-content: space-evenly;
    color: purple;
    position:absolute;
    bottom: 2px;
    background-color: grey;
    width: 100vw;
    border-radius: 20px;
    padding: 12px 2px 10px 2px;
    font-size: large;
    opacity: 0.7;
}


